{% extends 'bos/base.html' %}
{% block body %}
{% load static %}
    <style>
        .btn-cus-yellow {
            background-color: #F2C94C;
            border: 1px solid #ab903e;
            color: black;
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc {
            background: none;
        }

        .nav-pills .nav-link {
            border-radius: 8.375rem !important;

        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #928e8e !important;
            color: white !important;
        }

        .nav-pills .nav-link {
            color: #0f123f !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }
    </style>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
 <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-wrapper">
                    <div class="card-body">
                            <div class="nav-wrapper">
                                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text"
                                    role="tablist">
                                    {% for k,v in user_data.items %}
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0 {% if forloop.counter == 1 %} active {% endif %}"
                                            id="tabs-icons-text-{{ k }}-tab" data-toggle="tab"
                                            href="#tabs-icons-text-{{ k }}" role="tab"
                                            aria-controls="tabs-icons-text-{{ k }}" aria-selected="false">{{ k }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        {% for k,v in user_data.items %}
                                            <div class="tab-pane fade show{% if forloop.counter == 1 %} active {% endif %}"
                                                 id="tabs-icons-text-{{ k }}" role="tabpanel"
                                                 aria-labelledby="tabs-icons-text-{{ k }}-tab">
												 <div class="row">
												   <div class="col-lg-6">
														<h2 class="mb-0 pt-1">Programmes</h2>
												   </div>
												   <div class="col-lg-6">
												   </div>
												</div>
                                                <div class="table-responsive">
                                                    <table class="table table-flush" id="datatable-buttons{{ k }}"
                                                           style="width: 100%!important;">
                                                        <thead>
                                                          <tr>
                                                            <th>S.No</th>
                                                            <th>Name of Programme</th>
                                                            <th>Programme Type</th>
                                                            <th>Status of Structure</th>
                                                          </tr>
                                                          </thead>
                                                        <tbody>
                                                        {% for i in v %}
                                                            <tr>
                                                              <td>{{ forloop.counter }}</td>
                                                                  <td><a class="item" style="text-align: center" data-toggle="tooltip" data-placement="top" title="View" href="/bos/bos_program_detail/{{ i.encrypt_id }}">{{ i.program__name }}</a></td>
                                                                <td>{{ i.program__program_type__type }}</td>
                                                                <td>{{ i.program_status_level__title }}</td>

                                                              </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript" language="javascript" src="{% static '/assets/vendor/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


{% for k,v in user_data.items %}
    <script>
        $('#datatable-buttons{{k}}').DataTable({
            "bPaginate": $(this).find("tr:gt(0)").length > 1,
            language: {
                searchPlaceholder: 'Name/Type/Status',
                paginate: {
                    previous: "<i class='fa fa-angle-left'>",
                    next: "<i class='fa fa-angle-right'>"
                }
            }

        });
    </script>
{% endfor %}

{% endblock %}