<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="cumstest" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\cms_dev\myvenv\Scripts\python.exe|C:\inetpub\wwwroot\cms_dev\myvenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
