<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .ii a[href] {
        color: white !important;
    }
</style>
<div class="">
    <div class="aHl"></div><div id=":1j5" tabindex="-1"></div><div id=":1jx" class="ii gt">
    <div id=":1hx" class="a3s aiL ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:600px;border:1px solid #cccccc;font-family:Tahoma,Geneva,sans-serif;color:#333333;font-size:14px;line-height:20px" width="100%">
            <tbody>

            <tr><td style="border-bottom:1px solid #cccccc">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%"><tbody><tr><td style="padding:10px 0 0px 0px;text-align:center;color:#000; background:#fff; border-bottom: 2px solid #981f2a">
                    <img src="https://curriculums.gitam.edu/media/icons/GITAM_Mail_Header.png" style="width:100%; background:#fff;"class="CToWUd">
                </td></tr></tbody></table></td>
            </tr>
            <tr>
                <td style="padding:20px 15px; background:#f2f2f2;">
                    <table cellpadding="10" style="border-collapse:collapse;background-color:#f1f1f1;border:1px solid #ccc;
                              text-align:left;width:75%;font-size:14px;font-family:Tahoma,Geneva,sans-serif">
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:25px 15px 10px 15px; background:#f2f2f2;">
                    <h4>Dear {{ guest_firstname }},</h4>
                </td>
            </tr>
            <tr>
                <td style="padding:0px 15px 10px 15px; background:#f2f2f2; text-align:justify;">
                    <p>You have been assigned as a team member for the Course Syllabus Modification committee for
                         {{ course_name }}. </p>
                    <p style="color: black"> Course Syllabus Modification committee is as follows:</p>
                    {% for i in members %}
                        {% if  forloop.counter == 1 %} {{ forloop.counter }}.{{ i }} (Incharge) <br> {% else %} {{ forloop.counter }}.{{ i }} (Member) <br> {% endif %}
                    {% endfor %}
                    <p style="color: black">The Member is advised to prepare the course syllabus in coordination with the in-charge and upload the syllabus in portal.
                    </p>
                    <p style="color: black">The In-charge shall verify the course content and forward the same to the staff members having expertise in the course for suggestions. Please update the syllabus based on the suggestions (if any) and submit for approval.</p>
					<p style="color: black"><strong>After you enter the curriculum application, on the top right corner, you can find your name and image. Click on your name, to change your role from staff to the assigned role.</strong>                    </p>
					
			   </td>
            </tr>
            <tr>
                <td class="mt-3 mt-4" style="padding:25px 15px 10px 15px; background:#f2f2f2;">
                    <h4>With Regards,<br>
                        Incharge, Programme Curriculum Modification Committee
                    </h4>
                </td>
            </tr>
            <tr>
                <td style="padding:20px 15px; background:#f2f2f2;">
                    <table cellpadding="10" style="border-collapse:collapse;background-color:#f1f1f1;border:1px solid #ccc;
                              text-align:left;width:75%;font-size:14px;font-family:Tahoma,Geneva,sans-serif">
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="background: #981f2a;padding: 20px" bgcolor="#981f2a">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td  style="color: #fff;font-weight: bold;letter-spacing: 3px;font-size: 12px; line-height: 25px; text-align:center;">
                                VISHAKHAPATNAM | HYDERABAD | BENGALURU <br>
                                <i class="fa fa-globe" style="font-size:15px;color:#fff;"></i> <a href="http://www.gitam.edu/" target="_blank" style="color: #fff;font-size: 15px;  text-decoration: none ;">www.gitam.edu</a> <br> <i class="fa fa-envelope" style="font-size:15px;color:#fff"></i> <span style="font-size:15px;">curriculums@gitam.edu</span>
                            </td>
                            <td align="center">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table><table align="">
        <tbody>
        <tr>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

        <div class="adL">
        </div>
    </div>
</div><div id=":1j9" class="ii gt" style="display:none"><div id=":1ja" class="a3s aiL undefined"></div></div><div class="hi"></div>
</div>
