<p style="text-align: justify;margin-top:15px;">
	{{ course_details.course_descrption }}
</p>
<h4>Course Objectives</h4>
<div>
	<ul style="font-size:14px !important;">
	{%for i in course_details.course_objectives %}
		<li>{{i}}</li>
	{%endfor%}
	</ul>
</div>
<h4>Alternate Exposure</h4>
<div>
	<p>{{ course_details.alternative_exposure }}</p>
</div>
 <h4>Course Pre-requisite(s)</h4>
{% for i in course_pre_requisite %}
	<div>
		<ol style="font-size:14px !important;">
			<li>{{ i.prerequesti__course_name }}</li>
		</ol>
	</div>
{% endfor %}
 <h4>Course Co-requisite(s)</h4>
{% for i in course_co_requisite %}
	<div>
		<ol style="font-size:14px !important;">
			<li>{{ i.corequesti__course_name }}</li>
		</ol>
	</div>
{% endfor %}
<h4>SDG(Sustainable development goal)</h4>
<div>{%for i in course_details.sdg %}
		{{i}}{% if not forloop.counter == course_details.sdg|length%},{%endif%}
	{%endfor%}
</div><br>
<h4>SDG(Sustainable development goal) Jusification</h4>
<div>
	<p style="text-align: justify">{{course_details.sdg_description}}</p>
</div>
{% for syllabus in course_syllabus %}
	<div class="row mt-3">
		<div class="col-md-12">
			<h4>
				<span style="float: left">Unit {{ forloop.counter }} :&nbsp; {{ syllabus.short_title }}</span>
				<span style="float: right;margin-right: 40px;">No of Hours : {{ syllabus.number_of_contact_hours }}</span>
			</h4><br>
			<p style="text-align: justify">{{ syllabus.unit_name }}</p>
			<h5>Learning Outcomes</h5>

			<div style="margin-left:30px;">
				<span style="font-size:14px;">After completion of this unit, the student will be able to</span>
				<table style="font-size:14px !important;" width="100%">
					<tr>
						<td width="95%">
							<li>{{ syllabus.outcome_1 }}</li>
						</td>
						<td><span>{{ syllabus.level_1 }}</span></td>
					</tr>
					<tr>
						<td width="95%">
							<li>{{ syllabus.outcome_2 }}</li>
						</td>
						<td><span>{{ syllabus.level_2 }}</span></td>
					</tr>
					<tr>
						<td width="95%">
							<li>{{ syllabus.outcome_3 }}</li>
						</td>
						<td><span>{{ syllabus.level_3 }}</span></td>
					</tr>
					{% if syllabus.outcome_4 %}
						<tr>
							<td width="95%">
								<li>{{ syllabus.outcome_4 }}</li>
							</td>
							<td><span>{{ syllabus.level_4 }}</span></td>
						</tr>
					{% endif %}
					{% if syllabus.outcome_5 %}
						<tr>
							<td width="95%">
								<li>{{ syllabus.outcome_5 }}</li>
							</td>
							<td><span>{{ syllabus.level_5 }}</span></td>
						</tr>
					{% endif %}
				</table>
			</div>
			<div style="display: inline-flex;">
				<h5>Pedagogy tools:&nbsp;</h5>
				{% for p in pedagogy_tools %}
					{% for j in syllabus.pedagogy_tools %}
						{% if j.p_id == p.id %}
							<span style="float: left;font-size: 14px;">{{ p.name }}
									{% if not syllabus.pedagogy_tools|length == forloop.counter %}
										,&nbsp;{% endif %}</span>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>


		</div>
	</div>
{% endfor %}<br>

<table style="font-size:14px !important;"  border="1" width="100%">
	<tr>
		<td width="95%"><b>Texbook(s)</b></td>
		<td><b>Topics</b></td>
	</tr>
		{% for j in course_book_details %}
			<tr>
			<td><p>{{ forloop.counter }}.&nbsp;{{ j.author }},'{{ j.title }}',{{ j.edition }},{{ j.publisher }},{{ j.place_of_publication }},{{ j.year }},{{ j.isbn }}</p>
			</td>
			<td>{{ j.unit_mapping }}</td>
			</tr>
		{% endfor %}
	
</table>
<table style="font-size:14px !important;"  border="1" width="100%">
	<tr>
		<td width="95%"><b>Additional Reading(s)</b></td>
		<td><b>Topics</b></td>
	</tr>
	
		{% for i in references_details %}
		<tr>
			<td>
				<p>{{ forloop.counter }}.&nbsp;{{ i.author }},'{{ i.title }}',{{ i.edition }},{{ i.publisher }},{{ i.place_of_publication }},{{ i.year }},{{ i.isbn }}</p>
			</td>
			<td>{{ i.unit_mapping }}</td>
			</tr>
		{% endfor %}
	
</table>
<table style="font-size:14px !important;"  border="1" width="100%">
	<tr>
		<td width="95%"><b>Journal(s)</b></td>
		<td><b>Topics</b></td>
	</tr>
	
		{% for i in journal_details %}
			<tr>
			<td>
				<p>{{ forloop.counter }}.&nbsp;{{ i.author }},'{{ i.title }}',{{ i.year }},{{ i.pages }}</p>
			</td>
			<td>{{ i.unit_mapping }}</td>
			 </tr>
		{% endfor %}
   
</table>
<table style="font-size:14px !important;"  border="1" width="100%">
	<tr>
		<td width="95%"><b>Website(s)</b></td>
		<td><b>Topics</b></td>
	</tr>
	
		{% for i in website_details %}
		<tr>
			<td>
				<p>{{ forloop.counter }}.&nbsp;{{ i.name_website }},{{ i.last_accessed }},{{ i.website_url }}</p>
			</td>
			<td>{{ i.unit_mapping }}</td>
			</tr>
		{% endfor %}
	
</table><br>
<h4>Practical Experiment</h4>
	<table style="font-size:14px !important;"  border="1" width="100%">
		<tr>
			<td width="3%">S.no</td>
			<td width="77%" style="color: #7f0000" align="center"><b>Topic</b> </td>
			<td width="20%" style="color: #7f0000" align="center"><b>Type</b> </td>
		</tr>
		{% for practical in practical_syllabus %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{ practical.topic }}</td>

				<td align="center">{{ practical.syllabus_type__name }}</td>
			</tr>
		{% endfor %}
	</table><br><br>
<h4>Course Outcome(s)</h4>	
<div>
	<ul style="font-size:14px !important;">
	{% for i in course_details.course_outcome %}
		<li>{{i}}</li>
	{% endfor %}	
	</ul>
</div>
<center><h3 class="mt-5" style="text-align: center;">Instructional Plan</h3></center>
{% if course_details.instruction_plan %}
	<embed src="/media/user/instruction_plan/{{ course_details.instruction_plan }}#toolbar=0"  type="application/pdf"  width="100%" height="600px" />
{% else %}
	<span>No file uploaded</span>
{% endif %}
<br>
<center><h3 class="mt-5" style="text-align: center;">Instructional Plan Practical</h3>
{% if course_details.instruction_plan_practical %}
	<embed src="/media/user/instruction_plan/{{ course_details.instruction_plan_practical }}#toolbar=0"  type="application/pdf"  width="100%" height="600px" />


	{#                                    <span class="preview" data-value="{{ course_details.instruction_plan_practical }}" id="/media/user/instruction_plan/"><i class="fas fa-binoculars" style="color: #7f0000;font-size:20px;cursor: pointer" data-toggle="tooltip" data-placement="top" title="View Attachment"></i></span>#}
{% else %}
	<span>No file uploaded</span>
{% endif %}
</center>
<br>
