{% extends 'csmc/base.html' %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/timeline.css' %}" type="text/css">
    <style type="text/css">
       table tr td{
			padding-left:10px;
		}
		table tr th{
			padding-left:10px;
			font-size:14px;
		}
		#table{
			font-size:14px;
		}
		 .btn-cus-yellow {
            background-color: #F2C94C;
            border: 1px solid #ab903e;
            color: black;
            z-index: 99;
            font-size: 14px;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #7f0000 !important;
        }

        .hover {
            color: #6b7480 !important;
        }

        .hover.active {
            color: white !important;
        }
    </style>
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/pcmi/pcmi_program_detail/{{ p_id }}">Program
                                    Structure</a></li>
                                <li class="breadcrumb-item" aria-current="page">Course Preview</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="card">
			<div class="card-header text-center">
				<h4><i class="fa fa-file-alt mr-2"></i>COURSE PREVIEW</a></h4>
			</div>
            <div class="card-body">
				<div class="col-lg-12">
				{% include 'forms/preview/thery_practical.html' %}
				</div>
			</div>
		</div>
	</div>
    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Submit Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <h4 style="color: black">Do you want to forward to CSM Incharge ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/csmc/course_preview_submit/{{ course_id }}" method="POST">{% csrf_token %}
{#                        <input type="hidden" id="program_id" name="program_id" value="{{ p_id }}">#}
{#                        <input type="hidden" id="bos_user_id" name="bos_user_id" value="{{ program_assign_details.user_id }}">#}
{#                        <input type="hidden" name="path" value="{{request.path}}">#}
{#                        <input type="hidden" name="program_status_level_id" value="{{ program_assign_details.program_status_level_id }}">#}
                        <input type="submit" class="btn btn-md" style="background-color: #7f0000;color: white;" value="Submit">
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal pdf-->
    <div class="modal fade" id="modal02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="w3-modal-content w3-animate-zoom">
                        <iframe id="frame" width="100%" height="600px"></iframe>
                        {#                        <embed id="frame"   type="application/pdf"  width="100%" height="600px" />#}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- End Modal PDF -->

    <script>
        $(".message_post").click(function () {
            var str = this.id;
            $("#staticModal").modal('show')
        })
    </script>
    <!-- deny-modal -->
    <div class="modal fade" id="staticModal2" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
         aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Submit Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/pcmi/course_structure_need_more/{{ course_id }}" method="POST">{% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control csmi_suggestions" placeholder="Enter your Suggestion....."
                                          rows="6" required name="csmi_message" id="csmi_message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-md" style="background-color: #7f0000;color: white;"
                               value="Submit">
                    </div>
                </form>


            </div>
        </div>
    </div>


    <script>
        $(".deny_post").click(function () {
            var str = this.id;
            $("#staticModal2").modal('show')
        })
        $(".csmi_suggestions").focus(function () {
            if (document.getElementById('csmi_message').value === '') {
                document.getElementById('csmi_message').value += '• ';
            }
        });
        $("#csmi_message").on("keyup", function (e) {
            e.preventDefault();
            e.stopPropagation();
            // debugger;
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode == '13') {
                document.getElementById('csmi_message').value += '• ';
            }
            var txtval = document.getElementById('csmi_message').value;
            if (txtval.substr(txtval.length - 1) == '\n') {
                document.getElementById('csmi_message').value = txtval.substring(0, txtval.length - 1);

            }

        });
    </script>
    <script>
        function getExtension(filename) {
            return filename.split('.').pop().toLowerCase();
        }

        $(".preview").on("click", function () {
            var c = $(this).data('value');
            var extension = getExtension(c);
            switch (extension) {
                case 'pdf':

                    onClick_pdf(c);
                    $("#modal02").modal('show');
                    break;

            }
        });

        function onClick_pdf(element) {
            var str1 = "/media/user/instruction_plan/";
            var str2 = element;
            var res = str1.concat(str2);
            //window.open(res, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
            document.getElementById("frame").src = res + "#toolbar=0";
        }
    </script>
    <!---assign-pab modal--->

{% endblock %}

