{% extends 'pcmi/base.html' %}
{% block body %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'assets/timeline.css' %}" type="text/css">
    <style>
        .select2-container--default .select2-selection--single .select2-selection__arrow{
                height:44px !important;
            }
        .btn-cus-yellow{
            background-color: #F2C94C;
            border: 1px solid #ab903e;
            color: black;
            z-index: 99;
            font-size: 14px;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #7f0000!important;
        }
        .hover{
            color:#6b7480 !important;
        }
        .hover.active{
            color: white !important;
        }
    </style>
    <link href="{% static 'assets/vendor/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/select2.css' %}" rel="stylesheet">
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/pcmi"><i class="fas fa-home"></i></a></li>
								<li class="breadcrumb-item"><a href="/pcmi/pcmi_program_detail/{{p_id}}">Programmee Structure</a></li>
                                
                                <li class="breadcrumb-item" aria-current="page">Add Course</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="card shadow">
            <div class="card-body">
                <form  method="POST" action="/pcmi/add_course/{{ p_id }}" enctype="multipart/form-data" id="create_course" class="create_course">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <span class="form-label">Course Title</span>
                            <div>
                                <input type="text" name="course_title" id="course-title" value="{% if course_details.course_name %}{{ course_details.course_name }}{% endif %}" class="form-control" placeholder="Course title"  >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="form-label">Type of course</span>
                            <div>

                                <select class="form-control"  id="type_of_course" name="type_of_course" aria-label="Default select example">
                                    <option value="" selected>Select Type Of Course</option>
                                    {% for c in course_type %}
                                            <option  value="{{ c.id }}">{{ c.name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="form-label">Course category</span>
                            <div>
                                <select class="form-control" aria-label="Default select example" name="course_category">
                                    <option value="" selected>Select Course category</option>
                                    {% for c in course_category %}
                                            <option value="{{ c.id }}">{{ c.category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="form-label">Level of the course</span>
							<div>
                            <select class="form-control" aria-label="Default select example" name="level_of_course">
                                <option value="" selected>Select Level of course</option>
                                {% for l in level_of_course %}
                                        <option value="{{  l.level }}">{{ l.level__level }}</option>
                                {% endfor %}
                            </select>
							</div>
                        </div>
                    </div><br>
					<div class="row">
                        <div class="form-group col-md-6">
                            <span class="form-label">Campus</span>
							<div>
                            <select class="form-control select2 campus"  id="campus" name="campus" multiple  >
                                {% for p in campus_det %}
                                    <option value="{{ p.id }}" {% for j in campus %}{% if p.id == j.campus_id %}selected{% endif %}{% endfor %}>{{ p.name }}</option>
                                {% endfor %}
                            </select>
							</div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-label">Institution</span>
							<div>
                            <select class="form-control select2 inst"  id="inst" name="inst" multiple>
								<div>
                                <option  disabled>Select Institution</option>
								{% for i in inst %}
									<option value="{{ i}}" >{{ i }}</option>

                                {% endfor %}
                            </select>
							</div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-label">Department</span>
							<div>
                            <select class="form-control select2 dept"  id="dept" name="dept" multiple  ></select>
							</div>
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-md-2">
                            <span class="form-label">L</span>
                            <div>
                                <input type="text" name="L" id="L" value="" class="form-control budget_count" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="form-label">T</span>
                            <div>
                                <input type="text" name="T" id="T" value="" class="form-control budget_count" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="form-label">P</span>
                            <div>
                                <input type="text" name="P" id="P" value="" class="form-control budget_count" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="form-label">J</span>
                            <div>
                                <input type="text" name="J" id="J" value="" class="form-control budget_count" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="form-label">S</span>
                            <div>
                                <input type="text" name="S" id="S" value="" class="form-control budget_count" >
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="form-label">C</span>
                            <div>
                                <input type="text" name="C" id="C"  class="form-control" readonly >
                            </div>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-4">
                            <span class="form-label"></span>
                            <button type="submit" class="btn btn-md "  style="background-color: #7f0000;color: white;"> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="{% static 'form_ui/vendor/jquery-validation/dist/jquery.validate.js' %}"></script>
    <script src="{% static 'form_ui/vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'form_ui/js/wordcounter.js'%}"></script>
    <script src="{% static 'form_ui/vendor/jquery-steps/jquery.steps.js' %}"></script>
    <script src="{% static 'form_ui/vendor/minimalist-picker/dobpicker.js' %}"></script>
    <script src="{% static 'form_ui/vendor/jquery.pwstrength/jquery.pwstrength.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
    <script>

        $(".pcmi_forward_bosc").click(function(){
            var str = this.id;
            $("#staticModal1").modal('show')
        })

        		$("#campus").select2({
        });
        $("#inst").select2({
        });
        $("#dept").select2({
        });

        $(".campus").on('change',function(){
            {#alert('hi')#}
            a=(this)
            if (a.val === '') {
                return false;
            }
            $.ajax({
                method: "POST",
                url: '/pcmi/get_institution_by_campus',
                data: "campus=" + $('.campus').val(),
                success: function (result) {
                    console.log(result);
                    $("#inst").html('<option value="" disabled >' + 'Select Institution' + '</option>');
                    for (var i = 0; i < result.inst.length; i++) {
                        $("#inst").append('<option value="' + result.inst[i]["institution"] + '" >' + result.inst[i]["institution"] + '</option>');
                    }
                }
            });
        })
        $(".inst").on('change',function(){
            {#alert('hi')#}
            a=(this)
            if (a.val === '') {
                return false;
            }
            $.ajax({
                method: "GET",
                url: '/pcmi/get_dept_by_institution?inst='+$(".inst").val()+'&campus='+$(".campus").val(),
                success: function (result) {
                    console.log(result);
                    $("#dept").html('<option value="" disabled >' + 'Select Department' + '</option>');
                    for (var i = 0; i < result.dept.length; i++) {
                        $("#dept").append('<option value="' + result.dept[i]["dept_code__dept_code"] + '" >' + result.dept[i]["dept_code__dept_code"] + '</option>');
                    }
                }
            });
        })
		$("#L,#T,#J,#S,#P").prop("disabled", true);
		$('#C').keypress(function (e) {
			var regex = new RegExp("^[0-9-.]+$");
			var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
			if (regex.test(str)) {
				return true;
			}

			e.preventDefault();
			return false;
		});
		$(".budget_count").keyup(function() {
            $(".cutom_error").remove();
            budget_error = false;
            sum = 0;
            mul = 0;
            console.log(this.id);
            course_type=$("#type_of_course").val()
			if (course_type!=6){
				if(this.id == 'L' && $(this).val()>4){
					alert('L value should be less then 5');
					$(this).val('')
					return false;
				}
				else if(this.id== 'T' && $(this).val()>4){
					 alert('T value should be less then 5');
					 $(this).val('')
					return false;
				}
				else if(this.id == 'P' && ($(this).val()!=2 && $(this).val()!=4 && $(this).val()!=6)){
					 alert('P value should be 2 or 4 or 6');
					 $(this).val('')
					return false;
				}
				else if(this.id=='J' && $(this).val()>19){
					 alert('J value should be less then 20');
					 $(this).val('')
					return false;
				}
				else if(this.id=='S' && $(this).val()>9){
					 alert('S value should be less then 10');
					 $(this).val('')
					return false;
				}
			}
            if(course_type == 1){
                if ((Number($("#L").val())+Number($("#T").val()))> 4 ){
                    alert('L+T value should be less then 5');
                    $(this).val('')
                    return false;
                }else{
                    $("#C").val(Number($("#L").val())+Number($("#T").val()))
                }
            }else if(course_type ==2){

                 $("#C").val(Number($("#P").val())*0.5)
            }else if(course_type ==3){
                l = $("#L").val();
                t = $("#T").val();
                p = $("#P").val();
                sum = (Number(l) + Number(t)) + Number(p*0.5)
                $("#C").val(sum)

            }
			//else if(course_type ==4){
            //    $("#C").val(Number($("#J").val())/4)
            //}
			else if(course_type ==5){
                $("#C").val(Number($("#S").val()))
            }
			else if(course_type ==6){
                $("#C").val(0)
            }
    })
    $("#type_of_course").change(function () {
        course_type=$(this).val()
		 //$("#C").prop("readonly", true);
		if(course_type != 4){
			$("#C").prop("readonly", true);
		}else{
			$("#C").prop("readonly", false);
		}
        if(course_type == 1){
			
            $("#L,#T").prop("disabled", false);
            $("#P,#J,#S").prop("disabled", true);
            $("#C").val(Number($("#L").val())+Number($("#T").val()))
        }else if(course_type ==2){
            $("#P").prop("disabled", false);
            $("#L,#T,#J,#S").prop("disabled", true);
            $("#C").val(Number($("#P").val())*0.5)
        }else if(course_type ==3){
            $("#L,#T,#P").prop("disabled", false);
            $("#J,#S").prop("disabled", true);
            l = $("#L").val();
            t = $("#T").val();
            p = $("#P").val();
            sum = (Number(l) + Number(t)) + Number(p*0.5)
            $("#C").val(sum)
        }
		else if(course_type ==4){
			$("#C").prop("readonly", false);
			$("#L,#T,#P,#S").prop("disabled", true);
            $("#J").prop("disabled", false);
            $("#J").prop("readonly", true);
            $("#J").val(1);
            
        }
		else if(course_type ==5){
            
			$("#T,#P,#J,#L").prop("disabled", true);
			$("#J").prop("readonly", false);
            $("#S").prop("disabled", false);
            $("#C").val(Number($("#S").val()))
        }
		else if(course_type ==6){
            $("#T,#P,#J,#L,#S").prop("disabled", false);
            $("#T,#P,#J,#L,#S").prop("readonly", false);
			$("#C").prop("readonly", true);
            $("#C").val(0)
        }
    })


jQuery.validator.addMethod("alpha_space", function(value, element, param) {
  return value.match(new RegExp("^" + param + "*$"));
});
jQuery.validator.addMethod("exactlength", function(value, element, param) {
 return this.optional(element) || value.length == param;
}, $.validator.format("Please enter exactly {0} characters."));

jQuery.extend(jQuery.validator.messages, {
    required: "This field is required.",
    remote: "Please fix this field.",
    email: "Please enter a valid email address.",
    url: "Please enter a valid URL.",
    date: "Please enter a valid date.",
    dateISO: "Please enter a valid date (ISO).",
    number: "Please enter a valid number.",
    digits: "Please enter only digits.",
    creditcard: "Please enter a valid credit card number.",
    equalTo: "Please enter the same value again.",
    accept: "Please enter a value with a valid extension.",
    maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
    minlength: jQuery.validator.format("Please enter at least {0} characters."),
    rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
    range: jQuery.validator.format("Please enter a value between {0} and {1}."),
    max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
    min: jQuery.validator.format("Please enter a value greater than or equal to {0}."),
    alpha_space:jQuery.validator.format("Please enter alphabets only"),

});
//ceritification_form js
$( "#create_course" ).validate({
      rules: {
        course_title: {
          required: true,

        },
		type_of_course: {
          required: true,

        },
		course_category: {
          required: true,

        },
		level_of_course: {
          required: true,

        },
		campus: {
          required: true,

        },
		inst: {
          required: true,

        },
		dept: {
          required: true,

        },
		L: {
			number: true,
			range: [0, 4],
			required: true,
		},
		T: {
			number: true,
			range: [0, 4],
          required: true,

        },
		P: {
			number: true,
			range: [0, 6],
          required: true,

        },
		J: {
			
          required: true,

        },
		S: {
			number: true,
			range: [0, 9],
			required: true,

        },

      },
      errorElement : 'div',
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            $(element).closest('div').after(error)
          }
        },

    });

    </script>
{% endblock %}