{% extends 'pab/base.html' %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/timeline.css' %}" type="text/css">
    <style type="text/css">
        {#body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Arial"; }#}
        {#a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } #}
        {#a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } #}
        {#comment { display:none;  }#}
        .copo_td{
            border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000
        }
    </style>
    <style>
        .btn-cus-yellow{
            background-color: #F2C94C;
            border: 1px solid #ab903e;
            color: black;
            z-index: 99;
            font-size: 14px;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #7f0000!important;
        }
        .hover{
            color:#6b7480 !important;
        }
        .hover.active{
            color: white !important;
        }
    </style>
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/pab/program_detail/{{ p_id }}">Program Structure</a></li>
                                <li class="breadcrumb-item" aria-current="page">Course Preview</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        
        <div class="card shadow">
            <div class="card-body">
                        <div class="col-lg-12">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div class="row">
{#                                            {% if is_edit == 1 %}#}
{#                                                <div class="actions clearfix">#}
{#                                                    <button id="forward"  class="btn btn-md btn-cus-yellow btn-sm mb-2 message_post" >Approve</button>#}
{##}
{#                                                    <button id="forward"  class="btn btn-md btn-cus-yellow btn-sm mb-2 deny_post" >Suggestions</button>#}
{#                                                </div>#}
{#                                            {% endif %}#}
                                            {% if course_details.course_type_id == 1 or course_details.course_type_id == 5 %}
                                                {% include 'csmi/theory.html' %}
                                            {% elif course_details.course_type_id == 2 %}
                                                {% include 'csmi/practical.html' %}
                                            {% elif course_details.course_type_id == 3 %}
                                                {% include 'csmi/theory_cum_practical.html' %}
                                            {% elif course_details.course_type_id == 4 %}
                                                {% include 'csmi/project_or_internship.html' %}
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    
               
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Submit Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    <center>Do you want to Approve Program Course Preview?</center>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/pcmi/course_structure_approve/{{ course_id }}" method="POST">{% csrf_token %}
{#                        <input type="hidden" id="course_id" name="course_id" value="{{ course_id }}">#}
{#                            <input type="hidden" id="csmi_user_id" name="csmi_user_id" value="{{ program_assign_details.user_id }}">#}
{#                        <input type="hidden" name="path" value="{{request.path}}">#}
                        <input type="submit" class="btn btn-md" style="background-color: #7f0000;color: white;" value="Submit">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(".message_post").click(function(){
            var str = this.id;
            $("#staticModal").modal('show')
        })
    </script>
    <!-- deny-modal -->
    <div class="modal fade" id="staticModal2" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Submit Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form action="/pcmi/course_structure_need_more/{{ course_id }}" method="POST">{% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Enter your Suggestion....." rows="6" required name="csmi_message" id="csmi_message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
{#                        <input type="hidden" id="course_id" name="course_id" value="{{ course_id }}">#}
{#                        <input type="hidden" name="path" value="{{request.path}}">#}
                        <input type="submit" class="btn btn-md" style="background-color: #7f0000;color: white;" value="Submit">
                    </div>
                </form>


            </div>
        </div>
    </div>


    <script>
        $(".deny_post").click(function(){
            var str = this.id;
            $("#staticModal2").modal('show')
        })
    </script>
    <!---assign-pab modal--->

{% endblock %}

